<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cb85be">  <td>14/04/09 10:01:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLogin_Test.adminTest()[pri:0, instance:admin.AdminLogin_Test@32af89]">adminTest</td> 
  <td>main@7800633</td>   <td></td> </tr>
<tr bgcolor="cb85be">  <td>14/04/09 10:00:44</td>   <td>-15981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminLogin_Test.setup()[pri:0, instance:admin.AdminLogin_Test@32af89]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@7800633</td>   <td></td> </tr>
<tr bgcolor="cb85be">  <td>14/04/09 10:01:10</td>   <td>9976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminLogin_Test.tearDown()[pri:0, instance:admin.AdminLogin_Test@32af89]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@7800633</td>   <td></td> </tr>
</table>
